@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  font-family: 'Inter', sans-serif;
}


.image-zoom {
      transition: transform 0.3s ease;
    }
    
    .image-zoom:hover {
      transform: scale(0.68);
    }
